{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}
{% block body %}
<h1> Liste des Commandes </h1>
<table id="customers" border=1 width=75%>
<a href ="{{ path('app_commandes_add') }}"><button type="button" class="btn btn-primary">Ajouter une commande</button></a>

<tr>
    <TH> id_commande </TH> 
    <TH> Titre Livre  </TH>
    <TH> Raison Sociale  </TH> 
    <TH> Date d'achat </TH>
    <TH> Prix d'achat </TH> 
    <TH> Nombres d'exemplaires </TH>
    <TH> Afficher </TH>
    <TH> Modifier </TH>
    <TH> Supprimer </TH>

</tr>
{% for commande in commandes %}
<tr>
<td> {{commande.getId() }} </td> 
<td> {{commande.getLivre().getTitreLivre() }} </td>
<td> {{commande.getFournisseur().getRaisonSociale() }} </td>
<td> {{commande.getDateAchat()|date('d/m/Y') }} </td>
<td> {{commande.getPrixAchat()}} </td>
<td> {{commande.getNbrExemplaires()}} </td>
<td> <a href="{{ path('app_commandes_show', {'id': commande.id}) }}" class="btn btn-primary text-warning" > show </a> </td> 
<td> <a href="{{ path('app_commandes_edit', {'id': commande.id}) }}" class="btn btn-warning"> edit </a> </td>  
<td> <a href="{{ path('app_commandes_delete', {'id': commande.id}) }}" onclick="return confirm('Etes vous sur de vouloir supprimer cette utilisateur ?')"  class="btn btn-danger">delete</a> </td>   
</tr>
{% endfor %}
</table>


{% endblock %}